.Results {
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 1.5rem;
  justify-content: center;

  &_result {
    height: auto;
    margin: 1.5rem;
    max-width: calc(100% - 3rem);
  }
}
